*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    justify-content: center;
    display: flex;
    padding-bottom: 5px;
    background-color: #336699;
    min-height: 5vh;
}

aside{
    background-color: #86BBD8;
    padding: 1%;
    min-width: 12vw;
}

main{
    background-color: #2F4858;
    display: flex;
    min-height: 90vh;
    
}   

article{
    padding: .5%;
    color: #DAF7DC;
}

section{
    background-color: #9EE493;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: black;
    display: inline-flex;
    flex-direction: column-reverse;
}

.cuteBtn{
    padding:5px;
    background-color: #9EE493;
    font-size: larger;
    margin: 2px;
    text-align: center;
}


#city-button{
    display: flex;
    flex-direction: column;
}
